{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Search</h1>
                    <hr class="intro-divider">
                    <h4>Currently you can only search for holidays (eg. Christmas or New Year's Eve)</h4>
                     {{ wtf.quick_form(form) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
